<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_order.user_id %>
</p>

<p>
  <strong>Order:</strong>
  <%= @user_order.order_id %>
</p>

<%= link_to 'Edit', edit_user_order_path(@user_order) %> |
<%= link_to 'Back', user_orders_path %>
