<%= form_for(@menu_order) do |f| %>
  <% if @menu_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@menu_order.errors.count, "error") %> prohibited this menu_order from being saved:</h2>

      <ul>
      <% @menu_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :menu_id %><br>
    <%= f.number_field :menu_id %>
  </div>
  <div class="field">
    <%= f.label :order_id %><br>
    <%= f.number_field :order_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
