<h1>Listing menu_orders</h1>

<table>
  <thead>
    <tr>
      <th>Menu</th>
      <th>Order</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @menu_orders.each do |menu_order| %>
      <tr>
        <td><%= menu_order.menu_id %></td>
        <td><%= menu_order.order_id %></td>
        <td><%= link_to 'Show', menu_order %></td>
        <td><%= link_to 'Edit', edit_menu_order_path(menu_order) %></td>
        <td><%= link_to 'Destroy', menu_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Menu order', new_menu_order_path %>
