<p id="notice"><%= notice %></p>

<p>
  <strong>Menu:</strong>
  <%= @menu_order.menu_id %>
</p>

<p>
  <strong>Order:</strong>
  <%= @menu_order.order_id %>
</p>

<%= link_to 'Edit', edit_menu_order_path(@menu_order) %> |
<%= link_to 'Back', menu_orders_path %>
