<%= form_for(@plate) do |f| %>
  <% if @plate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plate.errors.count, "error") %> prohibited this plate from being saved:</h2>

      <ul>
      <% @plate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :codeplate %><br>
    <%= f.number_field :codeplate %>
  </div>
  <div class="field">
    <%= f.label :nameplate %><br>
    <%= f.text_field :nameplate %>
  </div>
  <div class="field">
    <%= f.label :typeplate_id %><br>
    <%= f.text_field :typeplate_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
