<%= form_for(@typeplate) do |f| %>
  <% if @typeplate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@typeplate.errors.count, "error") %> prohibited this typeplate from being saved:</h2>

      <ul>
      <% @typeplate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :codetype %><br>
    <%= f.number_field :codetype %>
  </div>
  <div class="field">
    <%= f.label :nametype %><br>
    <%= f.text_field :nametype %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
