<p id="notice"><%= notice %></p>

<p>
  <strong>Codetype:</strong>
  <%= @typeplate.codetype %>
</p>

<p>
  <strong>Nametype:</strong>
  <%= @typeplate.nametype %>
</p>

<%= link_to 'Edit', edit_typeplate_path(@typeplate) %> |
<%= link_to 'Back', typeplates_path %>
