<h1>Listing type_users</h1>

<table>
  <thead>
    <tr>
      <th>Codetype</th>
      <th>Nametype</th>
      <th>Created at</th>
      <th>Update at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @type_users.each do |type_user| %>
      <tr>
        <td><%= type_user.codetype %></td>
        <td><%= type_user.nametype %></td>
        <td><%= type_user.created_at %></td>
        <td><%= type_user.update_at %></td>
        <td><%= link_to 'Show', type_user %></td>
        <td><%= link_to 'Edit', edit_type_user_path(type_user) %></td>
        <td><%= link_to 'Destroy', type_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Type user', new_type_user_path %>
