<h1>New order</h1>


<%= form_for @order do |f| %>

<div class="field">
    <%= f.label :Distrito %><br/>
    <%= f.collection_select :id, City.order(:name), :id, :name,
    include_blank: true %>
</div>    

<div class="field">
    <%= f.label :restaurant_id %><br/>
    <%= f.grouped_collection_select :restaurant_id, City.order(:name), :restaurants, :name, :id, :namerest,
    include_blank: true %>
</div>    
<% end %>
